<div *ngIf="selectedRecipe !== null; else noRecipe" class="row">
    <div class="row" >
        <div class="col-xs-12">
            <img src="{{selectedRecipe.image}}"  class="img-responsive" style="max-height: 350px; width: 100%;" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h1>{{selectedRecipe.name}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
                <div class="btn-group dropdown" appDropdown>
                    <button class="btn btn-primary dropdown-toggle" type="button">
                        Manage Recipe <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a (click)="onAddIngridents()" style="cursor: pointer;">To Shopping List</a></li>
                        <li><a href="#">Edit Recipie</a></li>
                        <li><a href="#">Delete Recipe</a></li>
                    </ul>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>{{selectedRecipe.description}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>Ingridents</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let ingrident of selectedRecipe.ingridents">{{ingrident.name}} ({{ingrident.amount}})</li>
            </ul>
        </div>
    </div>
</div>
<ng-template #noRecipe>
    <div class="row" >
        <p>No Recipe Selected</p>
    </div>
</ng-template>
