/* You can add global styles to this file, and also import other style files */
.border{
    border: 1.3px solid black;
}
.border-red{
    border: 1.3px solid red;
}
.border-green{
    border: 1.3px solid green;
}
.border-blue{
    border: 1.3px solid blue;
}
